@mixin desktopStyle {
    #about-section{
        .body-copy{
            font-size: 20px;
            line-height: 1.4em;
        }
    
        & div.wrapper{
            & .twoCol{
                & h3{
                    font-size: 50px;
                    letter-spacing: 0.1em;
                }
    
            }
    
            & .accent-text{
                color: $redOrange;
                font-style: italic;
            }
        }
    }

    #featured-projects-section{    
        & #featured-projects-div{
            & .project-thumb{
                min-width: 400px;
                height: 310px;
            }
        }
    }

    #capabilities-section{
        padding-bottom: 30px;
    }
    
}